# Compiled class files
target/
*.class

# Log files
*.log

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# Operating System files
.DS_Store
Thumbs.db

src/main/resources/application-prod.properties
